.ingredient-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
