.dialog-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);

  /* Aussehen kommt von .nav-button, hier nur die Platzierung */
  .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .popup-text {
    font-size: 12px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: row;
  }
}
