.add-meal-page {
  display: flex;
  justify-content: center;
  padding-top: var(--medium-gap);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
  max-width: 500px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-wrapper {
  display: flex;
  border-collapse: collapse;

  input#amount {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
    margin-right: var(--small-gap);
    width: 110px;
  }

  input#tag {
    margin-right: var(--small-gap);
    width: 100%;
  }

  input#ingredients {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
}

.input-error {
  border-color: var(--color-alert);
}

.error-message {
  color: var(--color-alert);
  font-size: 12px;
}

.ingredient-error {
  margin-top: -20px;
}

.ingredient-wrapper input {
  flex: 1;
}

.ingredients-list {
  height: fit-content;
  padding-left: var(--medium-gap);
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.ingredient-field {
  width: 100%;
}

.tag-list {
  height: fit-content;
}

.default-button {
  border-radius: var(--border-radius);
  border: var(--border-controls);
  padding: var(--small-gap) var(--medium-gap);
  background-color: var(--color-lightgrey1);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  width: fit-content;
}

.default-button:hover {
  background-color: var(--color-hover-primary);
}
