.home-page {
  display: flex;
  justify-content: center;
  padding: var(--medium-gap);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  width: 100%;
  max-width: 500px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input {
  min-height: 30px;
  padding: 0 var(--small-gap);
  border-radius: var(--border-radius);
  border: var(--border-controls);
  outline: none;
}

select {
  min-height: 30px;
  padding: 0 var(--small-gap);
  border-radius: var(--border-radius);
  border: var(--border-controls);
  outline: none;
  color: var(--color-text);
  background-color: white;
}
