.t-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-action-button);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 200ms;

  p {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    filter: brightness(1.1);
    box-shadow: var(--box-shadow-hover);
  }

  &:disabled {
    background-color: var(--color-lightgrey2);
    cursor: not-allowed;
    box-shadow: none;

    p {
      color: var(--color-text-light);
    }
  }

  &.selected {
    background-color: var(--color-text);
    border: none;
  }
}
